# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# Данные
data/raw/*.csv
!data/raw/.gitkeep

# Модели
*.pkl
*.joblib
# Нужные модели
!models/churn_model.pkl
!models/scaler.pkl
!models/columns_order.pkl
!models/best_threshold.pkl
!models/.gitkeep

# Секреты
.env
*.key
*.pem
*.crt

# Логи
*.log
logs/
catboost_info/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Тесты и временные файлы
.pytest_cache/
.coverage
htmlcov/